.bu_modal_bg {
	background:rgba(0,0,0,0.75);
	height: 100%;
	left: 0;
	position:fixed;
	top:0;
	width:100%;
	z-index:100; /* to top WP admin menu */
}

.bu_modal_active {
	left: 50%;
	
	position:fixed;
	top:65px;
	z-index:110;
}

.bu_modal_active .postboxheader {
	background: #000;
    overflow: hidden;
    position: relative;
    
    display: block;
	width: 100%;
    height: 24px;
    z-index: 110;
}

.bu_modal_active .wrap {
	margin:0 auto;
	padding:20px;
	width:650px;
}

.bu_modal_active .postboxheader a.close_btn {
    color: #EFEFEF;
    display: block;
    float: right;
    padding: 4px;
    text-decoration: none;
}

/* fallback overlay background */
.no-rgba .bu_modal_bg {
	background:url('../img/bg.png') transparent repeat;
}